<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registro de Cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/register_form.css}">
</head>
<body>
<h1>Client Registration</h1>
<form action="#" th:object="${client}" th:action="@{/addClient}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" th:field="${client.firstName}" id="firstName" name="firstName" required><br><br>

    <label for="lastName">Last Name:</label>
    <input th:field="${client.lastName}"type="text" id="lastName" name="lastName" required><br><br>

    <label for="email">Email:</label>
    <input th:field="${client.email}" type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input th:field="${client.password}" type="password" id="password" name="password" required><br><br>

    <label for="shippingAddress">Shipping Address:</label>
    <input th:field="${client.shippingAddress}"type="text" id="shippingAddress" name="shippingAddress" required><br><br>

    <input type="submit" value="register" name="accion" title="Register">
</form>
</body>

</html>
