/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jun-2023, 3:12:14
    Author     : Garrido
*/

body {
    background-color: #f0f6ff; /* Azul claro */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #87ceeb; /* Azul claro */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Agrega un margen inferior para separarlo del contenido */
}

header h1 {
    color: #ffffff; /* Blanco */
    text-align: center;
}

nav input,a {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #000080; /* Azul marino */
    text-decoration: none;
    display: inline-block;
    margin: 0 10px 0 20px;
}


section {
    margin-top: 20px;
}

section h2 {
    color: #000080; /* Azul marino */
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 250px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #87ceeb; /* Azul claro */
    border-radius: 3px;
}

input[type="submit"] ,a{
    padding: 8px 16px;
    background-color: #87ceeb; /* Azul claro */
    color: #ffffff; /* Blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"],a:hover {
    background-color: #6495ed; /* Azul acero */
}

/*-------------------------------------------TABLAS-------------------------------------------*/

/* Estilos para las secciones */
section {
    margin-top: 20px;
}

/* Estilos para los encabezados de las tablas */
table th {
    background-color: #6495ed; /* Azul acero */
    color: #ffffff; /* Blanco */
    padding: 8px;
    text-align: center;
}

/* Estilos para las celdas de las tablas */
table td {
    padding: 8px;
}

/* Estilos para las filas impares de las tablas */
table tr:nth-child(odd) {
    background-color: #f0f6ff; /* Azul claro */
}

/* Estilos para los botones en las celdas de las tablas */
table td input[type="submit"] {
    background-color: #87ceeb; /* Azul claro */
    color: #ffffff; /* Blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1, h2 {
    color: #000080; /* Azul marino */
    text-align: center;
}
p {
    text-align: center;
    margin-bottom: 10px;
}
img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}
strong {
    font-weight: bold;
}
table td input[type="submit"]:hover {
    background-color: #6495ed; /* Azul acero */
}
