/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-jul-2023, 18:24:50
    Author     : Garrido
*/
body {
    background-color: #f0f6ff; /* Azul claro */
    font-family: Arial, sans-serif;
}

header {
    background-color: #87ceeb; /* Azul claro */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Agrega un margen inferior para separarlo del contenido */
}

header h1 {
    color: #ffffff; /* Blanco */
    text-align: center;
}

nav {
    background-color: #87ceeb; /* Azul claro */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px; /* Agrega un margen inferior para separarlo del contenido */
}

nav input {
    list-style: none;
    padding: 0;
    color: #000080; /* Azul marino */
    text-decoration: none;
    margin: 0 10px 0 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav input[type="submit"]:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #000080; /* Azul marino */
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}
